// default
%div{:style => "position: static; border: 1px solid black"}
  estaticamente falando

// relative
%div{:style => "position: relative; top: 10px; left: 10px; border: 1px solid black"}
  relativamente falando
  // absolute dentro de relative
  %div{:style => "position: absolute; top: 20px; left: 20px; border: 1px solid black"}
    absolutamente falando dentro de relative

// absolute
%div{:style => "position: absolute; top: 630px; left: 10px; border: 1px solid black"}
  absolutamente falando
